*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;  /*left and right margine set like that content stand at center */
    padding: 20px;
}

.container h1{
    margin: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
}
.galary{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 

}
.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

}
.card img{
    width: 100%;
    filter: grayscale(100%);
    height: 100%;
    object-fit: cover;
}
.card:hover {
    transform: scale(1.05);
    transition: 1s;
    filter: drop-shadow(0 0 10px #292929);
}
.card:hover img{
    filter: grayscale(0%);
}
.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: azure;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.555),rgba(255, 255, 255, 0));
    transition: 1s;
}
.card:hover figcaption{
    opacity: 1;
    transform: scale(1.05);
}